.form1>input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form1>label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.form1>input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form1>input[type=submit]:hover {
  background-color: #45a049;
}